body	{
	background-color: #cfcdcd;
}

.login	{
	
	margin-top: 110px;

}

.daftar	{
	margin-top: 10px;
	text-align: right;
}

.pendaftar	{
	margin-top : 60px;
}

.header1	{
background-color: #cfcdcd;

}

.edit	{
	margin-top: 100px;
}

.wajib	{
	text-align: right;
}
